@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

body {
    background-color: rgb(25, 25, 25);
    position: relative;
    min-height: 100vh;
}

.use-mouse {
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: rgb(58, 58, 58);
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#game-over {
    padding: 30px;
    margin: 10px;
    border-radius: 16px;
    background-color: rgb(58, 58, 58);
    text-align: center;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#game-over span {
    display: block;
}

.notifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: calc(100vh - 160px);
}

.notification {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    background-color: rgb(114, 164, 241);
    width: 300px;
}

.boards {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1000px) {
    .boards {
        display: flex;
        flex-direction: row;
    }
}

.board {
    overflow: hidden;
    min-height: calc(100vh - 20px);
    margin: 10px;
    width: calc(100% - 20px);
    border: solid 3px rgb(0, 170, 255);
    border-radius: 1rem;
    text-align: center;
}

.board-title {
    padding: 10px 0;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: rgb(26, 63, 210);
}

.button {
    margin: 20px 0 10px 0;
    padding: 0;
    background-color: transparent;
    border: none;
}

.button:hover {
    cursor: pointer;
}

.sort-button {
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(26, 63, 210);
}

.sort-button span {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 14px;
}

.delete-button {
    position: relative;
    top: 10px;
    background-color: #F34235;
    width: 100%;
    height: 40px;
    border-radius: 0;
}

.delete-button img {
    width: 40px;
    height: 40px;
}

.elements {
    min-height: calc(100% - 67px - 44px);
    margin: 0 20px;
    display: grid;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.element {
    margin: 0 auto;
    width: 100px;
}

.element-img {
    height: 100px;
    width: 100%;
}

.element-name {
    word-wrap: break-word;
    width: 100%;
    display: inline-block;
    margin-top: 3px;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.laboratory {
    overflow: hidden;
    margin: 0 5px;
    width: calc(100% - 10px);
    position: relative;
    height: 400px;
}

@media (min-width: 1000px) {
    .laboratory {
        height: calc(100% - 70px - 44px);
    }
}

.laboratory-element {
    position: absolute;
}

.laboratory__hovered {
    background-color: transparent;
}

@media (pointer: coarse) {
    .boards {
        display: none;
    }

    .use-mouse {
        display: flex;
    }
}
